<ion-view view-title="Chats">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content overflow-scroll="false" scrollbar-y="false" has-bouncing="true" delegate-handle="cateContScroll">
        <div repeat-finish ng-repeat="one in dataAll.abc" ng-if="dataAll.cate[one]" class="items-item-one">
            <div class="items-title">{{one}}</div>
            <div class="list">
                <a class="item bd-b item-icon-left item-icon-right items-item" ng-repeat="item in dataAll.cate[one]" ng-click="fn.go('lessonList',{code:item.code,name:item.name})">
                    {{item.name}}
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
