<div class="video-container">
    <!-- 视频源 -->
    <video preload="metadata" webkit-playsinline="webkit-playsinline" poster="images/post-bg.gif">
        <source ng-src="{{source}}" type="video/mp4" />
    </video>
    <!-- 视频播放控制区 -->
    <div class="video-controll-bar clearfix" ng-class="{cur: videoData.hide}">
        <!-- 播放,暂停 -->
        <div class="play-btn pull-left" ng-class="{cur:videoData.playing}" on-tap="play()">
            <span class="playing-btn"></span>
        </div>
        <div class="video-time pull-left">
            <span class="now-time">{{videoData.current ? videoData.current : '00:00:00'}}</span>/<span class="total-time">{{videoData.duration ? videoData.duration : '00:00:00'}}</span>
        </div>
        <div class="video-progress-zone range">
            <div class="video-range-track center-center"></div>
            <input class="video-range-input center-center" type="range" value="0" min="0" max="{{videoData.durationOrigin}}" ng-model="videoData.currentOrigin" ng-change="seeking()">
        </div>
    </div>
    <!-- 视频缓冲loading -->
    <div class="video-loading center-center" ng-if="videoData.isLoading">
        <ion-spinner icon="dots"></ion-spinner>
    </div>
</div>
