.items-content .items-title {
  background: #F2F2F2;
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  color: #808080;
  font-size: 16px;
}

.items-content .items-item {
  font-size: 15px;
  color: #808080;
  padding-left: 70px;
  height: 60px;
  line-height: 30px;
}

.category .items-content .items-item {
  font-size: 15px;
  color: #808080;
  padding-left: 12px;
  height: 60px;
  line-height: 30px;
  border: none;
  margin: 0 0 1px 12px;
}

.category .items-content .items-item .icon-item-logo {
  height: 44px;
  width: 44px;
  top: 8px;
  left: 11px;
  font-size: 22px;
  color: #e2e2e2;
}

.category .icon-item-logo:before {
  position: absolute;
  content: 'LOGO';
  width: 100% !important;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 12px;
  line-height: 45px;
  color: #9e9e9e;
  font-family: 'Helvetica';
}

.category .icon-item-logo:after {
  border-radius: 50%;
  border-color: #666;
}

.category .items-item-one {
  margin-bottom: -2px;
}

.category .items-item-one .list .item:last-child:after {
  display: none;
}

/* 悬浮的abc */
.fixed-abc {
  position: fixed;
  z-index: 999;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 10px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  padding: 0 6px;
}

.category .fixed-abc li {
  height: 16px;
  line-height: 16px;
}

.category .letterShow {
  position: fixed;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 1px solid #c1c1c1;
  border-radius: 6px;
  font-size: 28px;
  transition: all .2s ease 0s;
  -webkit-transition: all .2s ease 0s;
  opacity: 0;
  z-index: -1;
}

.category .letterShow.cur {
  opacity: 1;
  z-index: 9999;
  background-color: #fff;
}

.category ion-content .scroll{
  background-color: #fff;
}
