.carousel .slider-wrap {
  width: 100%;
  height: auto;
  overflow-x: scroll;
  white-space: nowrap;
}

.carousel .slider-wrap::-webkit-scrollbar {
  display: none;
}

.carousel .slider-wrap-inner {
  width: 100%;
  white-space: nowrap;
  font-size: 0;
}

.carousel .slider-wrap-inner > li {
  width: 77.6%;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.carousel .slider-wrap-inner img {
  display: inline-block;
  vertical-align: middle;
  height: 3.3rem;
  width: 100%;
  background-color: #f2f2f2;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.carousel .slider-wrap-inner .img-wrap {
  padding: 0 10px 12px 0;
  background: url('../images/bg-book.png') right bottom no-repeat;
  background-size: 100% auto;
}

.carousel .slider-wrap-inner li:first-child {
  margin-left: 12%;
}

.carousel .slider-wrap-inner li:last-child {
  margin-right: 12.8%;
}

.carousel .vol-title {
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  margin: 5% 0;
  color: #4D4D4D;
  letter-spacing: 0;
}

@media (max-height: 500px) {
  .carousel .magazine-slider {
    transform: translateY(-40%);
    -webkit-transform: translateY(-40%);
  }

  .carousel .vol-title {
    margin: 7% 0;
  }
}

/* iphone 6s 及 plus */
@media (min-width: 375px){
  .carousel .slider-wrap-inner img{
    height: 3.46rem;
  }
}

.carousel .magazine-wrap {
  text-align: center;
  line-height: 44px;
  width: 100%;
  padding: 0;
  position: fixed;
  top: 44px;
  font-size: 0;
  z-index: 1;
}

.carousel .gray-layer {
  position: fixed;
  top:0;
  bottom: 0;
  left:0;
  right:0;
  background: rgba(0,0,0,.2);
  z-index: 0
}

.carousel .magazine-cate {
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #4D4D4D;
  letter-spacing: 0;
  text-align: center;
  width: 100%;
  background: #F5F5F5;
  position: relative;
  z-index: 9;
}

.carousel .magazine-cate-title {
  position: relative;
  top: 1px;
}

.carousel .magazine-cate.cur {
  background-color: #fff;
}

.carousel .magazine-cate:after, .carousel .magazine-cate:before {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  height: 1px;
}

.carousel .magazine-cate:after {
  height: 4px;
  bottom: -4px;
  background-image: -webkit-linear-gradient(90deg, #fff 66.666666%, #ccc 50%);
  background-image: linear-gradient(0deg, #fff 66.666666%, #ccc 100%);
}

.carousel .magazine-cate.cur:after {
  display: none;
}

.carousel .magazine-cate:before {
  top: 0;
  background-image: -webkit-linear-gradient(90deg, #e0e0e0 50%, transparent 100%);
  background-image: linear-gradient(0deg, transparent 50%, #e0e0e0 50%);
}

.carousel .magazine-cate-cont li {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  padding-left: 15px;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  text-align: left;
}

.carousel .magazine-cate-cont {
  position: absolute;
  width: 100%;
  left: 0;
  top: 44px;
  height: auto;
  padding-bottom: 10px;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  background-color: #fff;
  overflow: hidden;
}

.carousel .magazine-cate-cont.cur {
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

.carousel .magazine-cate-cont:after {
  top: 1px;
  height: 1px;
}

.carousel .slide-img {
  width: 100%;
  height: 300px;
  background-size: cover;
}

.carousel .magazine-slider {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-43%);
  -webkit-transform: translateY(-43%);
}

/* 比例调试 */
.carousel .magazine-slider.cur{
  transform: translateY(-46.5%);
  -webkit-transform: translateY(-46.5%);
}

.carousel .magazine-arr-wrap {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
}

.carousel .magazine-arr-wrap span:first-child {
  display: inline-block;
}

.carousel .magazine-arr-wrap span:last-child {
  display: none;
}

.carousel .magazine-arr-wrap.cur span:first-child {
  display: none;
}

.carousel .magazine-arr-wrap.cur span:last-child {
  display: inline-block;
}

.carousel .loading-bubbles, .carousel .loading-bubbles svg {
  width:60px;
  height:60px;
  fill: #b7b7b7;
}

.carousel ion-content, .carousel ion-content .scroll {
  background: #F5F5F5;
}

/* iphone 4 及其以下 */
@media (max-width: 320px){
    .carousel .slider-wrap-inner img{
        height: 3.2rem;
        margin-top: 25px;
    }
}

/* 超级大屏幕 */
@media (min-width: 385px) {
    .carousel .slider-wrap-inner img {
        height: 3.8rem;
    }
}

@media (min-width: 465px) {
    .carousel .slider-wrap-inner img {
        height: 4.2rem;
    }
}

@media (min-width: 565px) {
    .carousel .slider-wrap-inner img {
        height: 5rem;
    }
}
